// COLORS
$color-primary: #000;
$color-secondary: #eee9e9;
$light-green: #5cbf2a;
$dark-green: #2caa3e;
$error: #c90f0f;

$gradient-light-green: #7ed56f;
$gradient-dark-green: #28b485;

// FONT
$default-font-size: 1.6rem;
